/* Da bi centrirali u sredinu sadrzinu tj container */
$heading1-size: 3rem;
.trening-plans-list-section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.trening-plan-list-container {
  width: 90%;
  height: 90vh;
  overflow: auto;

  border-radius: 20px;
  background-color: cadetblue;

  h1 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: $heading1-size;
  }

  /* Ovde se nalaze planovi za trening */

  .trening-plan-list {
    width: 100%;
    padding: 15px;

    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    /* Pojedinacni plan za trening (kartica) */

    .trening-plan-container {
      width: 22.5%;
      padding: 15px;
      margin-bottom: 30px;
      margin-right: 3.33333%;
      outline: 1px solid black;
      text-align: center;

      &:nth-of-type(4n) {
        margin-right: 0px;
      }

      h3 {
        margin-bottom: 10px;
      }
      //informacije o pojedinacnom planu
      .plan-info {
        display: flex;
        width: 100%;
        margin-bottom: 10px;

        .w-33 {
          width: 33%;
          outline: 1px solid black;
        }
      }
      // dugme saznaj vise

      .plan-btn {
        button {
          cursor: pointer;
        }
      }
    }
  }
}
